body {
    margin: 0;
    overflow: hidden; /* prevents scrolling */
    background: #ffe6f0;
    font-family: Arial;
}

#game {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#basket {
    position: absolute;
    bottom: 60px;
    left: 200px;

    width: 120px;     
    height: 120px;    

    background-image: url("img/basket.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;;
}

#basketHitbox {
    position: absolute;
    bottom: 0;           /* stick to bottom */
    left: 10px;          
    width: 100px;        
    height: 70px;        
}

#basketImg {
    width: 80px;
    height: auto;
}

.heart {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    background-image: url("img/sziv.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 5px pink);
}

.fedo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    color: white;
    z-index: 999;
    
    
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.2s ease-in-out;
}