body {
    margin: 0;
    overflow: hidden; /* prevents scrolling */
    background: #ffe6f0;
    font-family: Arial;
}

#game {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#basket {
    position: absolute;
    bottom: 60px;
    left: 200px;

    width: 120px;     
    height: 120px;    

    background-image: url("img/basket.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;;
}

#basketHitbox {
    position: absolute;
    bottom: 0;           /* stick to bottom */
    left: 10px;          
    width: 100px;        
    height: 70px;        
}

#basketImg {
    width: 80px;
    height: auto;
}

.heart {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    background-image: url("img/sziv.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 5px pink);
}

.fedo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 1.2s ease-in-out;

    z-index: 999;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}






.fedo-card{
    width: 80%;
    height: auto;
    background-color: white;
    color: #000;
    padding: 40px;
    border-radius: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice {
    width: 120px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease; /* for scaling */
}

#yes {
    background-color: #4CAF50; 
    color: white;
}

#no {
    background-color: #e74c3c; 
    color: white;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }
}

.shake {
    animation: shake 0.3s;
}
